:root {
  --background-color: #7165a1;
  --content-bg: #d2d2d2;
  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  --box-shadow-low: 0 0 2px rgba(0, 0, 0, 0.7);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
