:root {
  --danger: firebrick;
  --muted: gray;
  --primary-dark: #e65100;
  --primary-light: #ffcc80;
  --text-main: #fff3e0;
  --background-color: #3b3b3b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.loading-screen {
  position: absolute;
  inset: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  animation: fadeIn 100ms linear forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input {
  color: var(--text-main) !important;
}

.MuiFormControlRoot:not(.Mui-focussed) {
  color: var(--text-main) !important;
}

.MuiIconButton-root:not(.MuiIconButton-colorPrimary) {
  color: inherit !important;
}

.flipped-h,
.flipped-h img {
  transform: scaleX(-1);
}

.text-muted {
  color: var(--muted);
}

.full-screen {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

input[type=time],
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="time"]::-webkit-date-and-time-value {
  margin: 0;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

