.SnackStack {
  position: fixed;
  bottom: 2rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 2rem;
  gap: 2rem;
  width: 100%;
  pointer-events: none;
}

.snack-bar {
  width: clamp(30ch, 50ch, 80%);
  background: #61dafb;
  border-top: 2px solid #abdcf3;
  border-right: 2px solid #54b9da;
  border-bottom: 2px solid #54b9da;
  border-left: 2px solid #abdcf3;
  color: darkblue;
  box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  animation: animateOn 500ms ease forwards;
  pointer-events: none;
}

.snack-bar-error {
  background-color: var(--tertiary-lighter);
  color: var(--tertiary-darker);
  border-top-color: var(--tertiary-light);
  border-left-color: var(--tertiary-light);
  border-bottom-color: var(--tertiary-dark);
  border-right-color: var(--tertiary-dark);
}

@keyframes animateOn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes animateOff {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
