.Header {
    height: 64px;
    color: var(--text-light);
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background-color: var(--primary-color);
    box-shadow: var(--shadow);
}

.header-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: max-content;
}

.header-buttons {
    padding: 0 .5rem;
    font-size: 2rem;
    height: 100%;
}

.Header a {
    margin: 2rem auto;
    color: var(--primary-light);
    text-decoration: none;
    user-select: none;
    padding: .2rem .5rem;
    border-radius: 15px;
}

.Header a:visited {
    color: var(--primary-light);
}

.Header a:hover {
    color: var(--text-light);
}

.Header a:focus {
    color: var(--text-light);
    background-color: var(--primary-light);
    outline: none;
}

.Login-screen .login-btn {
    display: flex;
    width: 100%;
    margin: 0 4rem;
    position: static;

}

.Login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Menu-buttons {
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.Menu-buttons a {
    font-size: 6em;
    margin: 7vh auto;
    color: var(--primary-color);
    text-decoration: none;
    user-select: none;
    padding: .2rem 1rem;
    border-radius: 15px;
}

.Menu-buttons a:visited {
    color: var(--primary-color);
}

.Menu-buttons a:hover {
    color: var(--primary-light);
}

.Menu-buttons a:focus {
    color: var(--text-light);
    /*box-shadow: 0 0 0 3px var(--primary-light);*/
    background-color: var(--primary-light);
    outline: none;
}

.cam-screen {
    background-color: black;
    height: 45vh;
    width: 100%;
    overflow: hidden;
    border-radius: 15px;
    padding: 1rem 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);

}

.Heating-screen {
    background-color: var(--background-light);
    border-radius: 4px;
    box-shadow: 0 0 3px inset var(--primary-light), 0 0 8px var(--primary-light);
    border: 1px solid var(--primary-color);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Heating-screen .value {
    display: inline-block;
    max-width: 15ch;
}


.Heating-settings {
    padding: 2rem;
    margin-top: 1rem;
    min-height: 30rem;
    min-width: 18rem;
    transition: .5s ease-out;
}

.Heating-form input[type="range"] {
    margin: 2rem 0;
    width: 100%;
}

.Heating-form input[type="range"]:focus {
    box-shadow: 0 0 0 5px var(--background-color),
    0 0 0 10px var(--primary-light);
    border-radius: 10px;
}

.Heating-form input[type="time"] {
    font-size: 1.2rem;
    margin: 4px 0;
}

.Heating-form input[type="time"]:focus {
    outline: none;
    border-color: var(--primary-light);
}

.Heating-form input[type="submit"] {
    margin: 2rem 0
}

.Heating-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /*height: 100%;*/
}

.Heating-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
}

.Display-screen {
    padding: 0 1rem 1rem 0;
    border-radius: 5px;
    min-height: 16rem;
    min-width: 18rem;
}

.Display-screen .Loader-block {
    margin-left: .5rem;
}

.Display-screen-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.Heating-display div {
    margin: .5em 0;
}

.Indoor-temp {
    font-size: 3rem;
    font-weight: bold;
    font-family: monospace;
}

.Heating-display .Other-info {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.2rem;
}

.Heating-display .Other-info .small {
    font-size: .8rem;
}

.Heating-display .value {
    color: var(--primary-light);
    font-family: monospace;
}

.clock {
    color: var(--primary-light);
    z-index: 99;
    font-size: 1.8rem;
    margin: .8rem;
}

.inactive {
    color: var(--text-light);
}

.settings {
    width: 20rem;
}


.Task-blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 5vh auto 25vh auto;
    transition: 1s;
}

/*.Task-blocks * {*/
/*    margin: 0 1rem;*/
/*}*/

.Task-block {
    height: 100%;
}


.Option-radios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15rem;
    margin: 1rem auto;
}

.Radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Radio-container:hover input ~ .checkmark {
    background-color: var(--background-lighter);
}

.Radio-container input:checked ~ .checkmark {
    background-color: var(--primary-color);
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--background-color);

    border-radius: 50%;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.Radio-container input:checked ~ .checkmark:after {
    display: block;
}

.Radio-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.Add-item {
    /*margin-top: 3rem;*/
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, .7);
    z-index: 99;
    min-height: 20vh;
    background-color: var(--primary-light);
}

.Add-item input[type="text"] {
    background-color: var(--background-color);
    border: 0;
    border-bottom: 2px solid var(--primary-color);
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    padding: 1rem;
    text-align: center;
    margin: 1rem auto;
    z-index: 999;
    width: clamp(20ch, 90vw, 50ch);
    box-shadow: 0 -1px 5px 1px inset rgba(0, 0, 0, .7);
    color: var(--text-primary)
}

.Add-item input[type="text"]::placeholder {
    color: var(--text-muted)
}

.Add-item input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.Add-item input[type="radio"]:focus {
    margin: 0 0 0 .5rem;
    box-shadow: none;
}

.Plus-button {
    background-color: var(--primary-color);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    position: fixed;
    z-index: 999;
    bottom: 2rem;
    right: 2rem;
    font-size: 4rem;
    color: var(--text-light);
    box-shadow: var(--shadow);
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 0 .4rem 0
}

.Plus-button:hover {
    font-weight: 500;
    font-size: 3.5rem;
    box-shadow: 0 0 4px inset rgba(0, 0, 0, .7);
}

.Outer {
    width: 100vw;
}

.List {
    height: auto;
    padding-top: 1rem;
    padding-bottom: 20vh;
    max-width: 60ch;
    min-width: 20ch;
    margin: 0 auto;
}

.List-item {
    margin: 10px 0;
    width: 100%;
    user-select: none;
    background-color: var(--background-light);
    padding: 4px 8px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    color: var(--text-primary);
}

.Recipe {
    padding: 2rem;
    color: var(--text-primary);
}

.remove-recipe {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: firebrick;
}

.remove-recipe div:hover {
    cursor: pointer;
    text-decoration: underline;
}

.remove-recipe div:nth-child(1) {
    color: var(--text-primary);
}


.completed {
    text-decoration: line-through;
}

.Delete-icon {
    color: var(--primary-light);
    margin: 0 0 0 1rem;
    font-size: 22px;
    user-select: none;
    cursor: pointer;
}

.sure {
    background-color: var(--background-light);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
}

.sure button {
    margin: 1rem 0;
}

.Recipe-card {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 8000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0
}


.Recipe-card-content {
    height: 100%;
    padding: 1rem 2rem 3rem 2rem;
    text-align: left;
    position: static;
}

.Recipe-card-content h4 {
    padding: 1.5rem 0 .2rem 0;
}

.Recipe-card-content p {
    padding: 0 0 .2rem 0;
}

.note .close-button {
    position: absolute;
    left: 10px;
    top: 0;
    cursor: pointer;
    color: var(--text-primary);
    font-size: 2rem;
}

.note .close-button:hover {
    font-weight: bold;
}

.cam-title {
    width: 100%;
    padding: 1rem 0
}

.cam-feed {
    border-radius: 5px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .Task-blocks {
        grid-template-columns: 1fr;
        justify-content: flex-start;
        align-items: center;
        margin: 0 auto 25vh auto;
        height: auto;
    }

    .Task-block {
        height: auto;
        width: 100%;
        margin: 1rem auto;
    }

    .Recipe {
        padding: 2rem 1rem;
    }

    .Login-form {
        margin: 0 2rem;
    }

    .Display-screen {
        min-height: 19rem;
    }
}

