.status-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.status-screen > a {
    margin: 2rem auto;
    text-decoration: none;
}

.status-screen p {
    font-size: 1.5rem;
}

.heating-settings {
    width: clamp(10ch, 65ch, 80vw);
    text-align: center;
    height: 100%;
    margin: 0 auto;
}

.heating-settings > div:first-of-type {
    height: 100%;
}

.heating-settings h1.title {
    font-size: 1.5rem;
    border: 1px solid;
    border-radius: 3px;
    padding: .25rem;
    width: max-content;
    margin: auto;
    top: 1.25rem;
    right: 0;
    left: 0;
}

.heating-settings input {
    text-align: center;
    justify-content: center;
    min-width: 9ch;
}

.TempDisplay {
    font-size: 4.5rem;
    margin: 1.5rem auto 1rem;
    user-select: none;
    width: max-content;
}

.TempDisplay__On {
    color: var(--primary-dark);
}

.heating-settings svg, .heating-settings img, .heating-settings object {
    max-width: 20vw;
    object-fit: contain;
}

.arrow {
  border: solid var(--muted);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
    width: .75rem;
    height: .75rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.disabled-arrow {
    --muted: #2c2c2c;
}

.on-arrow {
    --muted: var(--text-main);
}

.section {
    transition: transform 500ms ease, opacity 400ms ease;
    transform-origin: right top;
}

.close-button {
    font-size: 2rem;
    color: var(--muted);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: auto;
}
