.status-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.status-screen > a {
    margin: 2rem auto;
    text-decoration: none;
}

.status-screen p {
    font-size: 1.5rem;
}

.heating-settings {
    width: clamp(10ch, 70ch, 80vw);
    margin: auto;
    text-align: center;
}

.heating-settings input {
    text-align: center;
    justify-content: center;
    min-width: 9ch;
}

.TempDisplay {
    font-size: 4.5rem;
    margin: 1.5rem auto 1rem;
    user-select: none;
}

.TempDisplay__On {
    color: var(--primary-dark);
}

.TimeInputRow > :nth-child(2) {
    margin-right: .25rem;
}

.heating-settings svg, .heating-settings img, .heating-settings object {
    max-width: 20vw;
    object-fit: contain;
}

.arrow {
  border: solid var(--muted);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
    width: .75rem;
    height: .75rem;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}