.time-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 3fr 1fr;
    width: 100%;
    align-items: center;
    margin: 1rem auto;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    position: absolute;
    top: 0;
}