body {
  background: #000;
}

.bars {
  display: inline;
  width: 34px;
  margin-right: 3px;
}

.left-div {
  background: #df691a;
  border-radius: 0px 0px 40px 0px;
  width: 40vw;
  height: auto;
  overflow: hidden;
  margin-top: -1.5rem;
  padding-top: .25rem;
  margin-left: -25vw;
  padding-left: 25vw;
  padding-right: 3rem;
  margin-right: -3rem;
}

.color-filler-left {
  background: #df691a;
  width: 50vw;
  height: auto;
  margin-top: -1px;
  margin-left: -25vw
}

.right-div {
  background: #000;
  border-radius: 0px 0px 0px 40px;
  margin-right: -25vw;
  padding-right: 25vw;
  padding-left: 5vw;
  margin-top: -1rem;
  padding-top: .25rem;
  overflow: hidden;
  width; 40vw;
  
}

.lg-only {
  display: block;
}

.sm-only {
  display: none;
}


@media (max-width: 935px) {
  .left-div {
    width: 50vw;
    margin-top: -.5rem;
    padding-top: .5rem;
    margin-left: -20vw;
    padding-left: 15vw;
  }
}
@media (max-width: 574px) {
  
  .lg-only {
    display: none;
  }
  
  .sm-only {
    display: block;
  }
   
  .left-div {
    width: 50vw;
    margin-top: -.5rem;
    padding-top: .5rem;
    margin-left: -1rem;
    padding-left: 1rem;
  }
}