{% extends 'base.html' %}
{% block style %}
<style type="text/css">

    {% if relay_on %}

    #temp {
        color: red;
    }

    {% else %}

    #temp {
        color: white;
    }

    {% endif %}

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    #gradient {
        background-image: linear-gradient(0deg, rgb({{gradient}}, 0, 0) 20%, rgb(17, 24, 39) 90%);
    }
</style>
{% endblock style %}

{% block content %}
<div class="w-full h-full" id="gradient">
  <h1 class='text-center border-b-2 border-gray-200 pb-2 my-5 text-3xl'>Central Heating Controls</h1>
  <div class="flex flex-col w-full h-full justify-start items-center text-center">
    <div class="border-b-2 border-gray-200 w-full">
      <div class="my-10">
        <h1 id="temp" class="text-7xl"><span id="tempDisplay">{{info['indoor_temp']}}</span></h1>
      </div>
      <div class="grid grid-cols-2 w-64 my-auto mx-auto mb-10">
        <div class="text-right mr-2">Target:</div>
        <div id="targetTemp" class="text-left ml-1">{{ desired_temp }}°C</div>
        <div class="text-right mr-2">Outdoors:</div>
        <div id="outdoorTemp" class="text-left ml-1">{{info['outdoor_temp']}}</div>
        <div class="text-right mr-2">Weather:</div>
        <div id="weather" class="text-left ml-1">{{info['weather']}}</div>
      </div>
      <div class="flex justify-center space-x-3 items-center mb-20">
        <label class="switch">
          <input type="checkbox" {% if on %}checked{% endif %} onclick="switchOn(this.checked)" class="mb-3">
          <span class="slider round"></span>
        </label>
        <div class="text-2xl"><i class="far fa-clock"></i></div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    function loadData() {
        let tempDisplay = document.getElementById('tempDisplay')
        let weather = document.getElementById('weather')
        let outdoorTemp = document.getElementById('outdoorTemp')
        let gradient = document.getElementById('gradient')

        fetch(`${window.origin}/api`)
            .then(function (response) {
                if (response.status !== 202) {
                    alert(`Bad response from temperature api: ${response.status}`)
                    return;
                }
                response.json().then(function (data) {
                    tempDisplay.innerHTML = data.indoor_temp
                    weather.innerHTML = data.weather
                    outdoorTemp.innerHTML = data.outdoor_temp
                    gradient.style.backgroundImage = `linear-gradient(0deg, rgb(${data.redValue}, 0, 0) 20%, rgb(17, 24, 39) 90%)`
                    if (data.on) {
                        tempDisplay.style.color = 'red';
                    } else {
                        tempDisplay.style.color = 'white'
                    }

                })
            })
    }

    window.onload = loadData
    setInterval(loadData, 5000)

    function switchOn(com) {
        let state = ''
        if (com) {
            state = 'on'
        } else {
            state = 'off'
        }
        let command = {
            command: state
        }
        fetch(`${window.origin}/switch`, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: JSON.stringify(command)
        }).then(function (response) {
            if (response.status !== 200) {
                alert(`Bad response from api: ${response.status}`)
                return;
            }
            setTimeout(function () {
                location.reload()
            }, 500)
        });
    }

</script>
{% endblock scripts %}