<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Home</title>
  <link rel="manifest" href="../static/manifest.json">
  <link rel="stylesheet" type="text/css" href="../static/css/tailwind.css">
  <script type="text/javascript">
      (function () {
          var css = document.createElement('link');
          css.href = 'https://use.fontawesome.com/releases/v5.15.1/css/all.css';
          css.rel = 'stylesheet';
          css.type = 'text/css';
          document.getElementsByTagName('head')[0].appendChild(css);
      })();
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"
          integrity="sha512-eVL5Lb9al9FzgR63gDs1MxcDS2wFu3loYAgjIH0+Hg38tCS8Ag62dwKyH+wzDb+QauDpEZjXbMn11blw8cbTJQ=="
          crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body class="text-white" style="background-image: linear-gradient(0deg, rgb(0, 0, 0) 20%, rgb(17, 24, 39) 95%);">
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messageDiv" class="h-full w-full flex flex-col space-y-2 justify-end items-center absolute pb-20">
  {% for m in messages %}
  <div class="px-2 py-1 bg-green-200 rounded-lg border border-green-300 text-green-800 text-xl shadow-lg relative z-10">
    {{m}}
  </div>
  {% endfor %}
</div>
<script type="text/javascript">
    setTimeout(function () {
        let messageDiv = document.getElementById('messageDiv')
        messageDiv.style.display = 'none'
    }, 3000)
</script>
{% endif %}
{% endwith %}
{% block content %}
<div class="container mx-auto max-w-screen h-screen p-4">
  <div class="flex flex-col items-center justify-center h-1/4 mt-2">
    <div id="timeDisplay" class="font-semibold text-4xl">--:--:--</div>
    <!--      <div id="ipDisplay" class="font-semibold text-sm">{{info['external_ip']}}</div>-->
  </div>
  <div class="grid grid-cols-3 w-full p-5 h-1/2 gap-20">
    <div class="mx-auto cursor-pointer hover:bg-yellow-600 my-auto bg-yellow-500 rounded-full h-20 w-20 flex flex-col items-center justify-center text-2xl"
         onclick="endPoint('heating')"><i class="fas fa-fire-alt"></i></div>
    <div class="mx-auto cursor-pointer hover:bg-yellow-600 my-auto bg-yellow-500 rounded-full h-20 w-20 flex flex-col items-center justify-center text-2xl"
         onclick="endPoint('tasks')"><i class="fas fa-tasks"></i></div>
    <div class="mx-auto cursor-pointer hover:bg-yellow-600 my-auto bg-yellow-500 rounded-full h-20 w-20 flex flex-col items-center justify-center text-2xl"
         onclick="endPoint('shopping')"><i class="fas fa-shopping-cart"></i></div>
    <div class="mx-auto cursor-pointer hover:bg-yellow-600 my-auto bg-yellow-500 rounded-full h-20 w-20 flex flex-col items-center justify-center text-2xl"
         onclick="loadUrl('https://goo.gl/maps/SZnfFiGk2VhpDoWV9')"><i class="fas fa-route"></i></div>
    <div class="mx-auto cursor-pointer hover:bg-yellow-600 my-auto bg-yellow-500 rounded-full h-20 w-20 flex flex-col items-center justify-center text-2xl"
         onclick="endPoint('recipes')"><i class="fas fa-utensils"></i></div>
    <div class="mx-auto cursor-pointer hover:bg-yellow-600 my-auto bg-yellow-500 rounded-full h-20 w-20 flex flex-col items-center justify-center text-2xl"
         onclick="endPoint('cam')"><i class="fas fa-video"></i></div>
  </div>
</div>
{% endblock content %}
<script type="text/javascript" src="../static/js/index.js"></script>
{% block scripts %}
<script>
    window.onload = () => {
        document.getElementById('timeDisplay').innerHTML = returnCurrentTime()
    }
    setInterval(function () {
        document.getElementById('timeDisplay').innerHTML = returnCurrentTime()
    }, 1000)
</script>
{% endblock scripts %}
</body>
</html>
