<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notes</title>
  <link rel="stylesheet" type="text/css" href="../static/css/tailwind.css">
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.15.1/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>

</head>
<body class="bg-gray-900 text-white">
<div class="container mx-auto max-w-screen h-screen px-4 md:px-0">

    <div class="flex flex-col justify-center items-center h-full w-full space-y-3">
        <form method="POST">
            <input type="text" id="item" name="item" class="mb-4 rounded pl-2 inner-shadow text-black w-64" placeholder="Item">
            <button id="submit" type="submit" class="rounded bg-yellow-500 hover:bg-yellow-600 font-semibold cursor-pointer w-64 flex justify-center items-center">Add to Shopping List</button>
        </form>
    </div>
</div>
</body>
</html>