
            <div id="lesTasks" class="overflow-y-auto over h-full w-1/2 flex flex-col space-y-2 items-center justify-start px-1">
                {% for task in tasks['Les'] %}
                    <div class="border border-gray-500 rounded flex flex-col justify-center items-center bg-gray-100 px-2 py-3 w-full">
                        <div class="flex justify-between items-center w-full">
                            <div class="font-semibold text-xl text-purple-500">{{task[1]}}</div>
                            <div class="text-gray-500" onclick="deleteTask({{task[0]}})">
                                <i class="far fa-check-circle ml-3 text-2xl cursor-pointer"></i></div>
                        </div>
                        {% if task[2] %}
                            <div class="text-gray-600 text-sm">{{task[2]}}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div id="mikeTasks" class="overflow-y-auto h-full w-1/2 flex flex-col space-y-2 items-center justify-start px-1">
                {% for task in tasks['Mike'] %}
                    <div class="border border-gray-500 rounded flex flex-col justify-center items-center bg-gray-100 px-2 py-3 w-full">
                        <div class="flex justify-between items-center w-full">
                            <div class="font-semibold text-xl text-green-500">{{task[1]}}</div>
                            <div class="text-gray-500" onclick="deleteTask({{task[0]}})">
                                <i class="far fa-check-circle ml-3 text-2xl cursor-pointer"></i></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
