{% extends 'base.html' %}
{% block content %}
<div class="flex flex-col justify-start items-center h-full w-full space-y-3">
  <div class="grid grid-cols-2 w-full text-center">
    <h1 class="font-bold text-2xl">Les</h1>
    <h1 class="font-bold text-2xl">Mike</h1>
  </div>
  <div class="flex w-full" style="height: 57%;" id="taskBlock">
    <div id="lesTasks" class="overflow-y-auto h-full w-1/2 flex flex-col space-y-2 items-center justify-start px-1">
      {% for task in tasks['Les'] %}
      <div class="border border-gray-500 rounded flex flex-col justify-center items-center bg-gray-100 px-2 py-3 w-full">
        <div class="flex justify-between items-center w-full">
          <div class="font-semibold text-xl text-purple-500">{{task[1]}}</div>
          <div class="text-gray-500" onclick="deleteTask({{task[0]}})">
            <i class="far fa-check-circle ml-3 text-2xl cursor-pointer"></i></div>
        </div>
        {% if task[2] %}
        <div class="text-gray-600 text-sm">{{task[2]}}</div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <div id="mikeTasks" class="overflow-y-auto h-full w-1/2 flex flex-col space-y-2 items-center justify-start px-1">
      {% for task in tasks['Mike'] %}
      <div class="border border-gray-500 rounded flex flex-col justify-center items-center bg-gray-100 px-2 py-3 w-full">
        <div class="flex justify-between items-center w-full">
          <div class="font-semibold text-xl text-green-500">{{task[1]}}</div>
          <div class="text-gray-500" onclick="deleteTask({{task[0]}})">
            <i class="far fa-check-circle ml-3 text-2xl cursor-pointer"></i></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="grid grid-cols-4 pb-5 w-64"><label for="lesCheck"
                                                 class="text-right font-semibold text-xl">Les</label><input type="radio"
                                                                                                            name="person"
                                                                                                            required="true"
                                                                                                            value="Les"
                                                                                                            id="lesCheck"><label
          for="mikeCheck" class="text-right font-semibold text-xl">Mike</label><input type="radio" name="person"
                                                                                      required="true" value="Mike"
                                                                                      id="mikeCheck"></div>
  <input type="text" id="task" name="task" required="true"
         class="mb-4 rounded pl-2 inner-shadow text-black w-64 text-xl" placeholder="Task">
  <button id="submit"
          class="rounded bg-yellow-500 hover:bg-yellow-600 font-semibold cursor-pointer w-64 flex justify-center items-center mb-4">
    Add Task
  </button>
</div>
{% endblock content %}

{% block scripts %}
<script type="text/javascript">

    let socket = io.connect('smarthome.mjfullstack.com');
    $(document).ready(function () {

        socket.on('connect', () => {
            console.log('connected')
        })
        socket.on('disconnect', () => {
            console.log('disconnected')
        })

        socket.on('update_tasks', (tasks) => {
            document.getElementById('taskBlock').innerHTML = tasks
        })

        const addTask = () => {
            let person
            let people = document.getElementsByName('person')
            let task = document.getElementById('task')
            for (i = 0; i < people.length; i++) {
                if (people[i].checked) {
                    person = people[i].value
                }
            }
            let form = {
                person: person,
                task: task.value
            }
            socket.emit('add_task', form);
            task.value = '';
        }

        $('#submit').on('click', (e) => {
            e.preventDefault()
            addTask()
        })
        $('#task').keypress((e) => {
            if (e.which === 13) {
                e.preventDefault()
                addTask()
            }
        })
    })

    function deleteTask(id) {
        socket.emit('delete_task', id);
    }


    // function addTask() {
    //     let person = ''
    //     let people = document.getElementsByName('person')
    //     let task = document.getElementById('task')
    //     for (i=0; i<people.length; i++) {if (people[i].checked) {person = people[i].value}}
    //     let form = {
    //         person: person,
    //         task: task.value
    //     }
    //     fetch(`${window.origin}/tasks`, {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json'
    //         },
    //         body: JSON.stringify(form)
    //     })
    //     .then(function(response){
    //         if (response.status !== 200) {
    //             alert(`Bad response from api: ${response.status}`)
    //             return ;
    //         }
    //         response.text().then(function (data) {
    //             document.getElementById('taskBlock').innerHTML = data
    //             task.value = ''
    //             // flashMessage('Task added!')
    //         })
    //     })
    // }
    //
    // function deleteTask(id) {
    //     fetch(`${window.origin}/tasks`, {method: 'DELETE', headers: {
    //             'Content-Type': 'application/json'
    //         }, body: JSON.stringify({id: id})})
    //     .then(function(response){
    //         if (response.status !== 200) {
    //             alert(`Bad response from api: ${response.status}`)
    //             return ;
    //         } else {
    //             response.text().then(function (data) {
    //                 document.getElementById('taskBlock').innerHTML = data
    //                 // flashMessage('Task removed')
    //             })
    //         }
    //     })
    // }
    //
    // document.getElementById('task').addEventListener('keyup', function(event) {
    //     if (event.keyCode == 13) {addTask()}
    // })
</script>
{% endblock scripts %}
