<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="../static/css/tailwind.css">
  <script type="text/javascript">
     (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.15.1/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); 
  </script>
</head>
<body style="background-color: white;">
     <div id="darkDiv" style="margin-left: 180px; margin-right: 180px; background-color: #464646; color: white;">
          <img src="img1.jpg" width="630px" height="300px" style=" float: right;">
          <div id="textDiv">
              Your text and link
          </div>
     </div>
</body>
</html>