.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50ch;
  max-width: 90vw;
  margin: auto;
  text-align: center;
}

.inline-error-message {
  color: firebrick;
  margin: 1rem auto;
  text-align: center;
}
